@*Directive to Specify the type of a model for this view*@
@model Vidly.ViewModels.RandomMovieViewModel
@using Vidly.Models
@{
    //it will display Tittle in webpage
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*If we hit cltrl + f5 run from any view it will redirect it to that current view*@

@*In order to access the model we pass in the controller*@
@*view data by model*@
@*<h2>@Model.Name</h2>*@

@*old mvc 1 way of passing data to the view*@
@*<h2>@(((Movie)ViewData["Movie"]).Name)</h2>*@

@*new method which replace the old one was viewbag*@
@*<h2>@ViewBag.Movie.Name</h2>*@

<h2>@Model.Movie.Name</h2>