@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@*model.any check contain any customer*@
@if (!Model.Any())
{
    <p>We don't have any customer yet.</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @*Name,Action,Controller,Routevalue/Paramter,addition html attribute*@
                        @Html.ActionLink(@customer.Name, "Edit", "Customers", new { id = customer.Id }, null)
                    </td>
                    @*here we can see that we can access the membership model with the help of Navigation Property in customer*@
                    @*just remember to include the MembershipType or any other navigation propety along side the main model*@
                    <td>@customer.MembershipType.Name</td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $("#customers .js-delete").on("click", function () {
                //Here this means we are in the button section
                var button = $(this);
                //confirm shows a website message
                if (confirm("Are you sure you want to delete this customer?")) {
                    $.ajax({
                        url: "api/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();

                        }
                    });
                }
            });
        });
    </script>
}